<section>
    <div class="container">
        <form action="/user/LoginAuth" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Email ou pseudo</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="email" name="email" placeholder="Email input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                </div>
                <p class="help is-danger">This email or pseudo is invalid</p>
            </div>


            <label class="label">Mot de passe</label>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Connection</button>
                </div>
                <div class="control">
                    <button class="button is-text">mot de passe oublié?</button>
                </div>
            </div>
    </div>

    </form>
    </div>
</section>